{% extends './base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dent_site/css/sub.css' %}">
{% endblock head %}

{% block content %}
<!-- タイトル -->
<div class="pagetitle">
  <h1>
    <span class="jp">プライバシーポリシー</span>
    <span class="en">privacy</span>
  </h1>
</div>

<main>
  <!-- パンくずリスト -->
  <nav class="container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Privacy</li>
    </ol>
  </nav>

  <section id="sec01" class="container pt-60">
    <h2 class="ttl">個人情報保護方針</h2>
    <p>医療法人Merody わかさハーモニー歯科（以下、「当サイト」）では、本サイトの一般利用者（以下「ユーザー」といいます。）の個人情報を管理・保護する重要性から、個人情報保護方針を以下のように定めました。個人情報の取り扱いに十分な注意を払い、適切な情報の保護に努めております。</p>
    <div class="mt-40">
      <h3>個人情報の収集および提供について</h3>
      <p>個人情報の収集及び提供にあたっては、業務に関わる範囲で、公正かつ適正な手段を用いて行います。また、その際は使用目的と情報範囲に関して、あらかじめユーザーのご了解を得た上で実施いたします。</p>
    </div>
    <div class="mt-40">
      <h3>個人情報の使用および第三者への開示について</h3>
      <p>当サイトは、以下のような正当な理由がない限り、収集した個人情報を第三者に開示・提供することはありません。</p>
      <ul class="point">
        <li>情報開示や共有についてユーザーの同意が得られた場合</li>
        <li>各種法令などにより、情報提供が要求された場合</li>
        <li>各種サービスの質的向上を目的とし、個人情報が識別できない状態で利用する場合</li>
      </ul>
    </div>
    <div class="mt-40">
      <h3>個人情報の安全管理・セキュリティについて</h3>
      <p>ユーザーの個人情報について、適切に管理いたします。<br>
        個人情報の漏洩・滅失・棄損・破壊・誤用・改変、および第三者への不正な流出、不正アクセスから保護・防止に努めます。また、ユーザーからご提供いただいた情報については、常に正確かつ最新の情報となるよう心がけます。</p>
    </div>
    <div class="mt-40">
      <h3>個人情報の確認・修正について</h3>
      <p>ユーザーのご自身の個人情報について、開示・訂正などを求められた場合には、迅速に対応いたします。</p>
    </div>
    <div class="mt-40">
      <h3>継続的改善・プライバシーポリシーの変更について</h3>
      <p>法令の改定等によって、個人情報の取り扱いは適宜見直しを行い、継続的な改善に努めます。</p>
    </div>
    <div class="mt-40">
      <h3>個人情報の取扱いに関する相談や苦情の連絡先</h3>
      <p>当サイトの個人情報の取扱に関するお問い合せは下記までご連絡ください。<br>
        医療法人Merody わかさハーモニー歯科<br>
        〒701-0151 岡山市北区平野534-15<br>
        お問い合わせ：<a href="tel:0869033677">086-903-3677</a></p>
    </div>
    <div class="mt-40">
      <h3>Cookieについて</h3>
      <p>当サイトでは、利便性の向上・情報提供の改善を行うため、「Googleアナリティクス」でアクセスを計測しています。その際アクセスを計測する方法として、ユーザーのコンピューターにCookieを送信することがあります。使用している端末媒体、訪問回数、閲覧ページ数、位置情報などが得られますが、年齢や居住地など個人を特定することはありません。また、ブラウザの設定により、Cookieによる情報収集を拒否することも可能です。</p>
    </div>
    <div class="mt-40">
      <h3>SSLセキュリティについて</h3>
      <p>当サイトでは、個人情報を入力する際、暗号化技術のSSL(Secure Sockets Layer) を導入しました。入力データは暗号化されて、ネットワークを経由するので、安心してご利用いただけます。</p>
    </div>
  </section>
</main>
{% endblock %}