{% extends './base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dent_site/css/sub.css' %}">
{% endblock head %}

{% block content %}
  <!-- タイトル -->
  <div class="pagetitle">
    <h1>
      <span class="jp">スタッフ</span>
      <span class="en">staff</span>
    </h1>
  </div>

  <!-- パンくずリスト -->
  <nav class="container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Staff</li>
    </ol>
  </nav>

  <main>
    <!-- 院長紹介 -->
    <section class="container pt-60">
      <h2 class="ttl">院長紹介</h2>
      <div class="row flex-row-reverse">
        <div class="col-md-12 col-lg-6 mb-3">
          <figure class="circle"><img class="img-fluid" decoding="async" src="../media/photo/staff/dr.jpg" alt="若狭亨"></figure>
          <div class="dr_name text-center">
            <span class="jp">若狭 亨</span>
            <span class="en">Toru Wakasa</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <p>当院は2003年4月4日に開院しました。<br>患者様一人ひとりを大切にしていきたいため、コミュニケーションを第一に、丁寧でやさしい治療を心がけています。</p>
          <p>「歯科医院は怖い・痛い」というイメージを一掃し、「ここに来て本当に良かった」と思っていただき、「繰り返しまた来たい」と思われる医院作りを目指していきます。</p>
          <div class="mt-20">
            <h3>資格・所属学会</h3>
            <ul class="point">
              <li>歯学博士［Doctor of Dental Science］</li>
              <li>日本歯科放射線学会専門医・指導医</li>
              <li>日本口腔診断学会会員</li>
              <li>日本口腔インプラント学会会員</li>
              <li>岡山大学歯学部臨床教授</li>
            </ul>
          </div>
          <div class="mt-20">
            <h3>趣味</h3>
            <ul class="point">
              <li>水泳</li>
              <li>音楽鑑賞（演歌とジャズ以外なら何でも）</li>
              <li>読書（推理小説）</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-20">
        <h3>略歴</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>1961年<br class="sp-only">12月7日</th>
              <td>岡山市の表町に生まれる（表町商店街のど真ん中、シンフォニーホール近く）</td>
            </tr>
            <tr>
              <th>1986年</th>
              <td>岡山大学歯学部　卒業（1期生）</td>
            </tr>
            <tr>
              <th>1991年</th>
              <td>岡山大学歯学部大学院　卒業（歯学博士）</td>
            </tr>
            <tr>
              <th>1992～1993年</th>
              <td>国立福山病院　歯科医長</td>
            </tr>
            <tr>
              <th>1994～2002年</th>
              <td>岡山大学歯学部附属病院　勤務</td>
            </tr>
            <tr>
              <th>1994～1995年</th>
              <td>文部科学教官　助手</td>
            </tr>
            <tr>
              <th>1996～2002年</th>
              <td>文部科学教官　講師・医局長</td>
            </tr>
            <tr>
              <th>1996年</th>
              <td>米国シアトル・ワシントン大学・オーラルメディスン講座に文部科学省在外研究員として留学</td>
            </tr>
            <tr>
              <th>2003年<br class="sp-only">4月</th>
              <td>わかさハーモニー歯科　開業</td>
            </tr>
            <tr>
              <th>2009年<br class="sp-only">4月</th>
              <td>岡山大学歯学部　臨床准教授</td>
            </tr>
            <tr>
              <th>2016年<br class="sp-only">4月</th>
              <td>岡山大学歯学部　臨床教授</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- スタッフ紹介 -->
    <section class="container pt-60">
      <h2 class="ttl">スタッフ紹介</h2>
      <figure class="w-75 mx-auto"><img class="img-fluid" src="../media/photo/staff.jpg" alt="スタッフ集合写真"></figure>
      <!-- 歯科衛生士 -->
      <h3 class="mt-20">歯科衛生士</h3>
      <div class="u-staff row">
        <div class="col-md-12 col-lg-6 mb-3">
          <h4 class="item-ttl">響尾 節子</h4>
          <p>患者様の思いをくみ取り、要望に沿えるよう、丁寧な歯科治療のお手伝いをさせていただきたいと思います。</p>
        </div>
        <div class="col-md-12 col-lg-6 mb-3">
          <h4 class="item-ttl">江本 千補</h4>
          <p>患者様に安心して診療してもらい、笑顔になって帰っていただけるようお手伝いしていきたいと思います。</p>
        </div>
        <div class="col-md-12 col-lg-6 mb-3">
          <h4 class="item-ttl">金田 莉彩子</h4>
          <p>歯科衛生士として少しでも患者様の役に立てるように明るく笑顔で努めていきます。</p>
        </div>
        <div class="col-md-12 col-lg-6 mb-3">
          <h4 class="item-ttl">藤野 支央里</h4>
          <p>歯科衛生士として、患者様のお口の健康について一緒に考えてお手伝いできるように頑張ります。</p>
        </div>
        <div class="col-md-12 col-lg-6 mb-3">
          <h4 class="item-ttl">白井 知佳</h4>
          <p>患者様に寄り添い、治療に対する不安な気持ちを安心に変えられるよう、笑顔で努めます。なんでもお気軽にお声がけくださいね。</p>
        </div>
        <div class="col-md-12 col-lg-6 mb-3">
          <h4 class="item-ttl">富士 佳子</h4>
          <p>歯科衛生士として、患者様のお口や健康についてサポートしていけるように頑張ります。</p>
        </div>
        <!-- <div class="col-md-12 col-lg-6 mb-3">
          <h4 class="item-ttl"></h4>
          <p></p>
        </div> -->
      </div>
      <!-- <div class="mt-40">
        歯科助手
        <h3>歯科助手</h3>
        <div class="u-staff row">
          <div class="col-md-12 col-lg-6 mb-3">
            <h4 class="item-ttl"></h4>
          <p></p>
        </div>
      </div> -->
      <div class="mt-40">
        <!-- 受付 -->
        <h3>受付</h3>
        <div class="u-staff row">
          <div class="col-md-12 col-lg-6 mb-3">
            <h4 class="item-ttl">若狭 文子</h4>
          <p>患者様との対話を大切にしています。小さなお子様のお世話もさせていただきます。お子様連れのお母様もぜひいらしてください。</p>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <h4 class="item-ttl">山本 菜摘</h4>
            <p>笑顔で挨拶することを大切に、患者様を快くお迎えできるようにしたいです。</p>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}